* {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    background-color:antiquewhite;
}
  h1,h2 {
   
    color: orange;
    background-color: blue;
    
    text-align: center;
  }
  h3 {
    background-color: orange;
    
    text-align: center;
  }

  p, li {
    font-size: 18px;
  }
  
  li {
    text-align: left;
  } 
  p {
      font-weight: lighter;
  }
  a {
    text-decoration: none;
  }
  
 
  